# Frontend
VITE_RELATIVE_CONFIG=True
VITE_OPENWEBUI_BACKEND_URL=http://localhost:8080

# Backend
ENV=dev
PORT=8080
WEBUI_SECRET_KEY=minha-chave-secreta-offline-para-uso-local-2026
WEBUI_AUTH=False
WEBUI_NAME=Neve AI
ENABLE_OLLAMA_API=False
ENABLE_OPENAI_API=False
ENABLE_WEB_SEARCH=False
ENABLE_IMAGE_GENERATION=False
ENABLE_WEBSOCKET_SUPPORT=True
ENABLE_COMMUNITY_SHARING=False
ENABLE_MESSAGE_RATING=False
BYPASS_MODEL_ACCESS_CONTROL=True
ENABLE_SIGNUP=True
ENABLE_LOGIN_FORM=True
SAFE_MODE=False
CORS_ALLOW_ORIGIN=*